@import "./common/_color.scss";
@import "./components/animation/_text.scss";
@import "./common/_font.scss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // background-color: #000;
}
